<%- include('header'); -%>

<header>
  <div class="container-fluid bg-success-subtle mb-4">
    <div class="col-sm-8 mx-auto text-center py-4">
      <h1 class="display-6">dKin Butterfly Club</h1>
      <p class="lead">Informative web page on Butterflies from around the world</p>
    </div>
  </div>
</header>

<main class="container mt-4">

  <% if (isError) { %>
    <h3 class="text-danger">dKin Butterfly Club: Errors in survey</h3>
    <p>Sorry, there seems to be a problem with the data you supplied. Your form has a total of <strong><%= errors.length %></strong> errors.</p>
    <h5>Error List:</h5>
    <ol>
      <% errors.forEach((error) => { %>
        <li><%= error %></li>
      <% }); %>
    </ol>
    <p><a href="/">Click here to return to the feedback form</a></p>
  <% } else { %>
    <h3 class="text-success">dKin Butterfly Club: Survey Results</h3>
    <p><strong>Survey form submitted successfully</strong></p>

    <p>
      Thank you <strong><%= firstname %></strong> for completing the <strong>dKin Butterfly Club</strong> survey.
      A summary of your submission is shown below:
    </p>

    <h5>Summary of Submitted Survey</h5>
    <table class="table table-bordered w-75">
      <tr><th>Survey Completed</th><td><%= new Date().toString() %></td></tr>
      <tr><th>Firstname</th><td><%= firstname %></td></tr>
      <tr><th>Surname</th><td><%= surname %></td></tr>
      <tr><th>Email</th><td><%= email %></td></tr>
      <tr><th>Butterfly colour</th><td><%= butterflyColour %></td></tr>
      <tr><th>Comments</th><td><%= comments %></td></tr>
    </table>

    <h5>Overall Survey Statistics</h5>
    <p>The survey responses are scored from 1 (Strongly Disagree) to 5 (Strongly Agree).</p>
    <ul>
      <li>Total number of surveys submitted: <strong><%= surveyCount %></strong></li>
      <li>Average ratings: Q1 = <strong><%= avgQ1 %></strong>, Q2 = <strong><%= avgQ2 %></strong>, Q3 = <strong><%= avgQ3 %></strong></li>
    </ul>

    <% if (avgTotal > 3.0) { %>
      <div class="alert alert-success p-3">
        <strong>Doing well!</strong><br>
        dKin Butterfly club has a good overall score of:
        <span class="bg-white px-2 py-1 d-inline-block fw-bold rounded"><%= avgTotal %></span>
      </div>
    <% } else { %>
      <div class="alert alert-warning p-3">
        <strong>Needs improvement</strong><br>
        The average score is below expectations:
        <span class="bg-white px-2 py-1 d-inline-block fw-bold rounded"><%= avgTotal %></span>
      </div>
    <% } %>

    <p><a href="/">Click here to return to the survey form</a></p>
  <% } %>

</main>

<%- include('footer'); -%>
