<%- include('header'); -%>

<header>
<div class="container-fluid bg-success-subtle mb-4">
    <div class="col-sm-8 mx-auto text-center py-4">
        <h1 class="display-6">Survey List</h1>
        <p class="lead">The completed list of <strong>dKin Butterflies</strong> surveys is shown in the table below.
            Accessing this data, stored in a persistant database, is performed on the server.</p>
    </div>
</div>
</header>

<main class="container mb-5">
    <p>There is a total of <strong><%= surveys.length %></strong> surveys completed.</p>

    <% surveys.forEach((survey, index) => { %>
        <div class="border border-primary rounded mb-3 p-2">
            <p class="text-secondary mb-1">
                <small>[<%= index + 1 %>] <%= survey.fname %> <%= survey.sname %> (<%= survey.email %>)</small>
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <p class="text-primary mb-0">Comment</p>
                    <p><em><%= survey.comment %></em></p>
                </div>

                <div class="col-sm-2">
                    <p class="text-primary mb-0">Colour</p>
                    <div class="badge text-wrap" style="background-color:<%= survey.colour %>">
                        <%= survey.colour %>
                    </div>
                </div>

                <div class="col-sm-4">
                    <p class="text-primary mb-0">Results</p>

                    <div class="progress mb-1" role="progressbar" aria-label="Q1" aria-valuenow="<%= survey.q1 %>" aria-valuemin="1" aria-valuemax="5">
                        Q1
                        <div class="progress-bar text-bg-success" style="width:<%= survey.q1 * 20 %>%"><%= survey.q1 %></div>
                    </div>

                    <div class="progress mb-1" role="progressbar" aria-label="Q2" aria-valuenow="<%= survey.q2 %>" aria-valuemin="1" aria-valuemax="5">
                        Q2
                        <div class="progress-bar text-bg-success" style="width:<%= survey.q2 * 20 %>%"><%= survey.q2 %></div>
                    </div>

                    <div class="progress mb-1" role="progressbar" aria-label="Q3" aria-valuenow="<%= survey.q3 %>" aria-valuemin="1" aria-valuemax="5">
                        Q3
                        <div class="progress-bar text-bg-success" style="width:<%= survey.q3 * 20 %>%"><%= survey.q3 %></div>
                    </div>
                </div>
            </div>

            <p class="text-secondary mb-1">
                <small><%= new Date(survey.date).toString() %></small>
            </p>
        </div>
        <p><a href="/">Click here to return to the survey form</a></p>
    <% }); %>
</main>

<%- include('footer'); -%>
